.banner {
  background-color: #2F4858;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%232F4858' width='11' height='11'/%3E%3Crect fill='%232f4858' x='10' width='11' height='11'/%3E%3Crect fill='%232f4858' y='10' width='11' height='11'/%3E%3Crect fill='%232f4757' x='20' width='11' height='11'/%3E%3Crect fill='%232f4757' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%232e4757' y='20' width='11' height='11'/%3E%3Crect fill='%232e4757' x='30' width='11' height='11'/%3E%3Crect fill='%232e4757' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%232e4756' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232e4656' y='30' width='11' height='11'/%3E%3Crect fill='%232e4656' x='40' width='11' height='11'/%3E%3Crect fill='%232e4656' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%232e4656' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%232d4655' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232d4655' y='40' width='11' height='11'/%3E%3Crect fill='%232d4555' x='50' width='11' height='11'/%3E%3Crect fill='%232d4555' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%232d4555' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%232d4554' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%232d4554' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%232d4554' y='50' width='11' height='11'/%3E%3Crect fill='%232c4454' x='60' width='11' height='11'/%3E%3Crect fill='%232c4453' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%232c4453' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%232c4453' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%232c4453' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%232c4453' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%232c4352' x='70' width='11' height='11'/%3E%3Crect fill='%232c4352' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%232c4352' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%232b4352' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%232b4352' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%232b4351' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%232b4251' x='80' width='11' height='11'/%3E%3Crect fill='%232b4251' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%232b4251' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%232b4251' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%232b4250' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%232a4250' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%232a4150' x='90' width='11' height='11'/%3E%3Crect fill='%232a4150' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%232a4150' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%232a414f' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%232a414f' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%232a414f' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%232a404f' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%232a404f' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2329404e' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2329404e' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2329404e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2329404e' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23293f4e' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23293f4d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23293f4d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23293f4d' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23283f4d' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23283f4d' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23283e4c' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23283e4c' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23283E4C' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.banner .header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .header h1 {
  margin: 0;
  margin-left: 1em;
  color: #9BAEBC;
}

.banner .header h1 span {
  font-family: 'Inspiration', cursive;
  font-size: 3em;
}

.banner .hero {
  width: 100%;
  height: calc(90vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .hero .imageContainer {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .hero .imageContainer .image {
  width: auto;
  height: 80%;
}

.banner .hero .menuCard {
  color: #9BAEBC;
}

.banner .hero .menuCard h3 {
  font-family: 'Inspiration', cursive;
  font-size: 2.25em;
  margin-left: 10px;
}

.banner .hero .menuCard .menu {
  list-style: none;
}

.banner .hero .menuCard .menu li {
  position: relative;
  margin: 1em;
  font-size: 1.25em;
}

.banner .hero .menuCard .menu li .image {
  width: auto;
  height: .75em;
}

.mcbuttonContainer {
  width: 70px;
  height: 70px;
  margin-right: 1em;
}

.mcbuttonContainer .mcbutton {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2F4858;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 10px -5px #677987;
          box-shadow: 3px 3px 10px -5px #677987;
}

.mcbuttonContainer .mcbutton b {
  width: 70%;
  height: 4px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #677987;
}

.mcbuttonContainer .mcbutton b:nth-child(1) {
  top: 15%;
}

.mcbuttonContainer .mcbutton b:nth-child(2) {
  top: 50%;
}

.mcbuttonContainer .mcbutton b:nth-child(3) {
  top: 85%;
}

.main {
  width: 100%;
}

.main .highlights {
  width: 100%;
  margin: 1em 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .highlights .highlightCard {
  position: relative;
  overflow: hidden;
}

.main .highlights .highlightCard .positive {
  opacity: 0;
}

.main .highlights .highlightCard .negative {
  opacity: 1;
}

.main .highlights .highlightCard .highlightImage {
  position: absolute;
  height: 100%;
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s;
}

.main .highlights .highlightCard .highlightImage img {
  height: 100%;
  width: auto;
}

.main .highlights .highlightCard .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(59, 69, 77, 0.5);
  color: #9BAEBC;
  opacity: 1;
  -webkit-transition: opacity ease-in .5s;
  transition: opacity ease-in .5s;
  z-index: 2;
}

.main .highlights .highlightCard .info h3 {
  margin: 0;
  margin-bottom: 5px;
}

.main .highlights .highlightCard .info p {
  width: 80%;
  margin: 0;
}

.main .highlights .highlightCard .shading {
  width: 100%;
  background: linear-gradient(45deg, rgba(159, 171, 181, 0.3), rgba(103, 121, 135, 0.5));
  z-index: 1;
  -webkit-transition: background ease-in 1s;
  transition: background ease-in 1s;
}

.main .highlights .ergonomics {
  height: 300px;
  width: 450px;
}

.main .highlights .ergonomics .info {
  width: 50%;
  height: 100%;
  left: 50%;
}

.main .highlights .ergonomics:hover .positive {
  opacity: 1;
}

.main .highlights .ergonomics:hover .negative {
  opacity: 0;
}

.main .highlights .ergonomics:hover .info {
  left: 0;
}

.main .highlights .ergonomics:hover .shading {
  background: linear-gradient(45deg, rgba(144, 105, 129, 0.3), rgba(85, 62, 76, 0.5));
}

.main .highlights .cogRehab {
  height: 500px;
  width: 350px;
}

.main .highlights .cogRehab .highlightImage {
  height: 200%;
  top: 0;
  -webkit-transition: top ease-in 1s;
  transition: top ease-in 1s;
}

.main .highlights .cogRehab .info {
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 100%;
  height: 45%;
}

.main .highlights .cogRehab:hover .highlightImage {
  top: -100%;
}

.main .highlights .cogRehab:hover .info {
  top: 40%;
}

.main .highlights .cogRehab:hover .shading {
  background: linear-gradient(45deg, rgba(144, 105, 129, 0.3), rgba(85, 62, 76, 0.5));
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #553E4C;
}

@media only screen and (min-width: 400px) {
  .banner .header h1 {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=Home.module.css.map */