@import './variables.scss';
@import './buttons.scss';

.main{
  width: 100%;
}

.employees{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  @include flexColumnCenter;
  color: black;
}
  
.employee{
  background: transparent;
  width: 90%;

  .seperateCard{
    background-color: white;
    box-shadow: $LBLowShadow;
  }
  
  .employeeBanner{
    width: 100%;
    display: grid;
    grid-template: auto / 1fr;
    grid-auto-rows: auto;
    
    .profile{
      width: 100%;
      @include flexColumnCenter;
      text-align: center;

      .imageContainer{
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .info{
      width: 100%;
      margin-top: 50px;
      @include flexColumnCenter;

      .hello{
        margin-right: 10%;
        
        h3{
          font-family: $cursiveFont;
          font-size: 68px;
        }
        h4{
          font-size: 28px;
        }
      }

      .sectionsSelectors{
        width: 70%;
        min-width: 300px;
        margin-top: 25px;
        @include flexRowCenterEven;
        flex-wrap: wrap;

        .selector{
          width: 120px;
          height: 120px;
          margin: 0 .5em;
          @include flexItemCenter;
          font-size: 18px;
          font-weight: 700;
          color: $colour2;
          background-color: $colour1;
          border-radius: 50%;  
          box-shadow: $LBLowShadow;
          
          &:nth-child(1){
            color: $colour2;
            background-color: $colour4;
          }
          &:nth-child(3){
            color: $colour2;
            background-color: $colour5;
          }
        }

      }

    }
    
    .bio{
      width: 90%;
      padding: 50px 0;
      justify-self: center;
      text-indent: 1em;
    }
  }


  .qualifications{
    margin-top: 1em;
    padding: calc($headerHeight + 12px) 12px;


    h4{
      font-family: $cursiveFont;
      font-size: 48px;
      // color: $colour1;
    }

    h5{
      font-size: 21px;
      font-weight: 400;
    }

    ul{
      list-style: none;
      padding: 1em;

      li{
        padding: .5em 0;

        &::before{
          width: 1em;
          height: 2px;
          background-color: $colour1;
        }
      }
    }

    div{
      margin-top: 1em;
    }
  }
}

@media only screen and (min-width: 450px){
  .employee{
    width: 90%;

    .employeeBanner{

      .profile{

        .imageContainer{
          width: 350px;
          height: 350px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px){
  .employee{
    width: 95%;

    .employeeBanner{
      grid-template: auto auto / repeat(2, 1fr);
      grid-template-areas: "profile info" "profile bio";

      .profile{
        grid-area: profile;
        align-self: center;
      }

      .info {
        padding: 0;
        margin: 0;
        margin-left: 10%;
        grid-area: info;
        align-items: start;
      }

      .bio {
        grid-area: bio;
      }
    }



  }
}

@media only screen and ( min-width: 1000px ){
  .employee {

    .employeeBanner{
      grid-template: auto auto / repeat(5, 1fr);
      grid-template-areas: 
      "profile profile info info info" 
      "profile profile bio bio bio";
    }
  }
}