@import '../styles/variables.scss';
@import '../styles/buttons.scss';

.main{
  margin-top: $headerHeight;
  color: $colour1;
}

.contactHeader{

  .contactHeaderCard{
    width: 300px;
    margin: 1em;
    background-color: white;
    box-shadow: $LBLowShadow;
    
    .imageContainer{
      height: 300px;
      position: relative;
    }

    .info{

      .titleContainer{
        width: 100%;
        margin-bottom: .5em;
        color: white;
        background-color: $ribbonColour;
        
        h4{
          font-size: 21px;
          margin: .5em 1em;
          margin-right: 0; 
        }
      }

      p{
        font-size: 1.05em;
        margin: 1em;
      }
    }
  }
}

.contact{
  width: 100%;
  margin-top: 1em;
  @include flexItemCenter;
  
  .form{
    @include flexColumnCenter;
  }
}

.formContainer{
  width: 90%;
  margin-bottom: 3em;
  display: grid;
  grid-template: 250px 250px 700px 250px / 1fr;
  grid-template-areas: 
    "message"
    "contact"
    "form"
    "disclaimer";
  background-color: white;
  box-shadow: $LBDeepShadow;
    
  .gridItem{
    // @include fill;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;
    justify-self: center;
    align-self: center;
    box-shadow: $LBLowShadow;

    p{
      font-size: 21px;
    }
  }
  
  .contactMessage{
    padding-left: 2em;
    grid-area: message;
    @include flexColumn;
    justify-content: center;
    background-image: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0));
  
    h3{
      font-size: 48px;
      font-family: $cursiveFont;
      // font-weight: 600;
    }
    p{
      max-width: 540px;
      font-size: 21px;
      font-weight: 600;
    }
  }

  .contactDetails{
    grid-area: contact;
    background-color: $colour1;
    color: $colour2;
    @include flexColumn;
    justify-content: space-evenly;

    div{
      margin-left: 1em
    }

    h4{
      font-size: 28px;
    }
    p{
      font-size: 21px;
    }
  }

  .disclaimer{
    padding: 1em;
    grid-area: disclaimer;
    background-color: $colour4;
    color: $colour2;
    @include flexItemCenter;

    p{
      span{
        color: $colour5;
      }
    }
  }

  .email{
    grid-area: form;
    background-color: white;
    color: $colour2;
    @include flexColumnCenterEven;

    .info{
      width: 90%;

      .inputArea{
        width: 100%;
        padding: 0 5px;
        font-size: 21px;
        background-color: white;
        border: 1px solid rgba($colour1, .3);
        border-radius: 3px;

        ::placeholder{
          color: rgba($colour1, .3);
        }
      }
    }

    .sentBy{
      .inputArea{
        height: 38px;
      }
    }

    .message{
      .inputArea{
        height: 300px;
        padding: 5px 5px;
      }
    }

    @include wireButton(white, $colour1)
  }
}

@media only screen and (min-width: 620px){
  
  .contactHeader{
    display: flex;

    .contactHeaderCard{

    }
  }
}

@media only screen and (min-width: 850px){
  .formContainer{
    grid-template: 250px 350px 350px / 3fr 2fr;
    grid-template-areas: 
      "message message"
      "form contact"
      "form disclaimer";
  
    .contactMessage{
  
      h3{
        font-size: 48px;
      }
  
      p{
        font-size: 21px;
      }
    }
  }
}