@import './variables.scss';
@import './buttons.scss';

.highlights{
  width: calc(95vw - 2px);
  margin: 1em 0;
  padding: .5em .5em;
  display: grid;
  grid-template: repeat(5, calc((95vw / 5) * 4)) / 1fr;
  grid-template-areas: "ergo" "anx" "func" "work" "con";
  background-color: white;
  background-image: url(../public/highlight-backgrounds/single-column.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: $LBLowShadow;
  border-radius: 8px;
  
  .highlightCard{
    position: relative;
    overflow: hidden;
    margin: 4px 5px;
    box-shadow: $LBLowShadow;
    border-radius: 5px;

    transition: margin .2s ease-in;

    &:hover{
      margin: -2px -3px;
    }
    
    .titleContainer {
      width: 100%;
      height: 60px;
      position: relative;
      top: calc(100% - 70px);
      background-color: rgba($colour4, 0.726);
      font-family: $cursiveFont;

      .motionContainer{
        height: 100%;
        width: 100%;
        position: absolute;
        @include flexItemCenter;

        h3{
          font-size: 38px;
          color: white;
        }
      }
      

      @include wireButton(rgba($colour4, 0.726), white)
    }
    
    .wide{
      display: none
    }
    .mobile{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .ergonomics{
    grid-area: ergo;
  }

  .return{
    grid-area: work;
  }

  .concussion{
    grid-area: con;
  }

  .functional{
    grid-area: func;
  }

  .anxiety{
    grid-area: anx;
  }

  .aot{
    grid-area: aot;
    display: none;
  }
}

///////////////////
///MEDIA QUERIES///
///////////////////

@media only screen and (min-width: 400px){
  .highlights{
    width: 90vw;
    grid-template: repeat(5, calc(((90vw / 5) * 4))) / 1fr;
    grid-template-areas: "ergo" "anx" "func" "work" "con";
  }
}

@media only screen and (min-width: 500px){
  .highlights{
    width: 80vw;
    padding: 1em 1em;
    grid-template: repeat(5, calc(((80vw / 5) * 4))) / 1fr;
    grid-template-areas: "ergo" "anx" "func" "work" "con";
  }
}

@media only screen and (min-width: 650px){
  .highlights{
    width: 95vw;
    grid-template: repeat(3, calc(((95vw / 2) / 5) * 4)) / 1fr 1fr;
    grid-template-areas: 
      "ergo anx"
      "con con"
      "work func";

    background-image: url(../public/highlight-backgrounds/two-columns.svg);
    background-size: contain;

    .anx{

      .titleContainer{
        justify-content: flex-end;
      }
    }
  }

}

@media only screen and (min-width: 1000px){

  .highlights{
    position: relative;
    display: grid;
    grid-template: repeat(3, calc(((100vw / 3) / 5)*4))/ 1fr 1fr 1fr;
    grid-template-areas: 
      "ergo con con"
      "anx aot work"
      "anx func func";
    background-image: url(../public/highlight-backgrounds/three-columns.svg);
    background-size: contain;

    .highlightCard{

      .mobile{
        display: none;
      }
      .wide{
        display: flex;
      }
    }
  
    .aot{
      display: block;

      .titleContainer{
        justify-content: center;
        
        h3{
          font-size: 48px;

        }
      }
    }
  }
}