@import './variables.scss';
@import './buttons.scss';

.serviceHeader{
  width: 100%;
  padding: 1.25em;
  position: relative;
  color: $colour1;
  background-color: white;
  // border: 1px solid black;
  border-bottom-left-radius: $xlRadius;
  border-bottom-right-radius: $xlRadius;
  
  z-index: 10;
  
  h2{
    font-family: $cursiveFont;
    font-size: 58px;
  }
}

.serviceList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $colour1;

  .serviceCard{
    width: 100%;
    padding: 1em;
    padding-top: 80px;
    // position: absolute;
    position: relative;
    // transform: translateY(-60px);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: 
    "img img"
    "p p";
    // @include flexRowCenter;
    background-color: $colour2;
    box-shadow: $DBLShadow;
    overflow: hidden;
    border-bottom-left-radius: $lgRadius;
    border-bottom-right-radius: $lgRadius;
    box-shadow: $LBDeepShadow;

    &:nth-child(1){
      transform: translateY(-60px);
      z-index: 6;
    }
    &:nth-child(2){
      transform: translateY(-120px);
      z-index: 5;
    }
    &:nth-child(3){
      transform: translateY(-180px);
      z-index: 3;
    }
    &:nth-child(4){
      transform: translateY(-240px);
      z-index: 2;
    }
    &:nth-child(5){
      transform: translateY(-300px);
      z-index: 1;
    }
    
    .serviceImageContainer{
      width: 100%;
      height: auto;
      grid-area: img;
      position: relative;
      // position: absolute;
      overflow: hidden;
      border-radius: 5px;
    }

    
    .info{
      width: 95%;
      margin: 1em auto;
      grid-area: p;
      
      .titleContainer{
        width: 95%;
        margin-left: 5%;
  
        h3{
          color: $colour5;
        }
      }

      .btn{
        margin-top: .5em;
        width: 100%;
        color: $colour1;
        background-color: $colour2;
        border: 3px solid $colour1;
        box-shadow: none;
      }
    }

    .clinicInfo{
      display: none
    }
  }

  .alt{
    background-color: $colour1;
    color: $colour2;
    // box-shadow: $LBLowShadow;
    
    .info{
      
      .btn{
        color: $colour2;
        background-color: $colour1;
        border: 3px solid $colour2;
        box-shadow: none;
      }
    }
  }
}

// @media only screen and (max-width: 550px ){
//   .serviceList{
    
//     .alt{
//       grid-template-areas: "img img" "p p";
//     }
//   }
// }
@media only screen and (min-width: 600px ){
  .serviceList{

    .serviceCard{
      grid-template-areas: "img p" "img p";
    }
    
    .alt{
      grid-template-areas: "p img" "p img";
    }
  }
}

@media only screen and (min-width: 1000px){
  .serviceList{

    .serviceCard {
      width: 50%;
      grid-template-areas: "img p" "img p";

      &:nth-child(1){
        transform: translateY(-60px);
        z-index: 2;
      }
      &:nth-child(2){
        transform: translateY(-60px);
        z-index: 2;
        background-color: $colour1;
        color: $colour2;
        
      }
      &:nth-child(3){
        transform: translateY(-120px);
        z-index: 1;

        background-color: $colour1;
        color: $colour2;
      }
      &:nth-child(4){
        transform: translateY(-120px);
        z-index: 1;
        background-color: $colour2;
        color: $colour1;
      }
      &:nth-child(5){
        transform: translateY(-300px);
        z-index: 1;
      }
    }
  }
}