@import './variables.scss';
@import './buttons.scss';

.service{
  width: 100%;
  min-height: calc(95vh - 100px);
  margin: 2em 0;
  margin-top: 120px;
  display: grid;
  grid-template: repeat(4, auto) / 1em 1fr 1em;
  grid-template-areas: 
    '. title .'
    '. info .'
    '. clinic .'
    '. aptBtn .';
  grid-row-gap: 2em;

  .titleContainer{
    width: 100%;
    height: auto;
    grid-area: title;
    position: relative;
    @include flexColumnCenter;

    .imageContainer{
      width: 100%;
      // max-width: 500px;
      height: 60vw;
      max-height: 400px;
      position: relative;
      // overflow: hidden;
    }
  
    .title{
      width: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.63) 5%, white);
      padding-bottom: 2em;
      color: $colour1;

      h2{
        font-size: 48px;
        font-family: $cursiveFont;
      }
    }
  }
  

  .infoContainer{
    color: $colour1;
    grid-area: info;
    font-size: 21px;

    p{
      text-indent: 2em;
    }
  }

  .clinicInfo{
    grid-area: clinic;
  }

  @include wireButton(white, $colour1);

  .btn{
    grid-area: aptBtn;
    justify-self: center;
  }
}


@media only screen and (min-width: 800px){

  .service{
    grid-template: auto auto auto / 1em 400px 1fr 1em;
    grid-template-areas: 
      ". title info ."
      '. clinic clinic .'
      '. aptBtn aptBtn .'
  }
}